# Pycharm folder and files
.idea/
__pycache__/
*.pyc

# Jupyter Notebook and Lab
.ipynb_checkpoints/

# Mac Specific Files
.DS_Store

# Additional
# Lab 2
Lab_2/data/datasets/
Lab_2/data/models/pre-trained/